<!-- %h1 Users#index
%p Find me in app/views/users/index.html.haml -->
<% if current_user %>
  <div class="form container py-5" style="padding-left:200px;" >
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"><%= current_user.firstName %></h5>
            <p class="text-muted mb-1">Parking lot Manager</p>
            <p class="text-muted mb-4">Chennai Tamil Nadu Inia</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> <%= current_user.firstName %> <%= current_user.lastName%> </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> <%= current_user.email %> </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Chennai Tamil Nadu Inia</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
 <div class="container text-center">
  <h1 class= "text-align center"> Please <%= link_to "sign_in", user_session_path %> </h1>
 </div>
<% end %>
