<div class="app-sidebar sidebar-shadow">

      <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
          <ul class="vertical-nav-menu">
            <strong clas="btn-shadow btn btn-outline-dark"> Dashboard</strong>
            <%# <%= link_to "Dashboard", vehicles_path, class: "btn-shadow btn btn-outline-dark" %>

            <li class="app-sidebar__heading">
             <%= link_to "All vehicles", vehicles_path, class: "btn-shadow btn btn-outline-info" %>
             </li>
             <li class="app-sidebar__heading">
             <%= link_to "Parked vehicles", vehicles_path(:status => "parked"), class: "btn-shadow btn btn-outline-info" %>
             </li>
             <li class="app-sidebar__heading">
             <%= link_to "Left vehicles", vehicles_path(:status => "left"), class: "btn-shadow btn btn-outline-info" %>
             </li>


             <li class="app-sidebar__heading">
             <%= link_to "new Vehicle in", new_vehicle_path, class: "btn-shadow btn btn-outline-info" %>
             </li>


             <li class="app-sidebar__heading">
             <%= link_to "Vehicles Charge", charges_path, class: "btn-shadow btn btn-outline-info" %>
             </li>

            <% if current_user.is_Admin %>
             <li class="app-sidebar__heading">
             <%= link_to "Master Vehicles(c)", new_charge_path, class: "btn-shadow btn btn-outline-warning" %>
             </li>
              <% end %>
            <% if current_user.is_Admin %>
               <li class="app-sidebar__heading">
               <%= link_to "Update charge", charges_path, class: "btn-shadow btn btn-outline-warning" %>
               </li>
            <% end %>

          </ul>
        </div>
      </div>
    </div>

