
<div id="<%= dom_id vehicle %>">
  <tbody>

    <tr>
      <th scope="row"><%= vehicle.id %></th>
      <td>
          <%= vehicle.charge_id %>
      </td>
      <td>
        <%= vehicle.number %>
      </td>
      <td>
        <%= vehicle.in_time %>
      </td>
      <td>
        <%= vehicle.out_time %>
      </td>
      <td>
         <%= vehicle.charges %>
      </td>
      <td>
        <%= vehicle.status %>
      </td>
      <td>
        <%= vehicle.user_id %>
      </td>
      
    </tr>

  </tbody>
</div>
