<div id="<%= dom_id vehicle %>">
  <tbody>
  <tr>
    <th class="text-center text-muted"><%= vehicle.id %></th>
    <td>
      <div class="widget-heading"><%= link_to vehicle.owner, vehicle %></div>
    </td>
    <td>
      <div class="widget-heading"><%= vehicle.charges_id %></div>
    </td>
    <td class="text-center"><%= vehicle.number %></td>
    <td class="text-center"> <%= vehicle.in_time %></td>
    <td class="text-center"><%= vehicle.out_time %></td>
    <td class="text-center"><%= 6 %></td>  <!--#total hours column -->
    <td class="text-center"> <%= vehicle.charges %></td>
    <td class="text-center">
      <div><%= vehicle.status %></div>
    </td>
    <td class="text-center">
      <%= link_to 'pay_charge' ,charge_vehicle_path(vehicle),class: "btn btn-primary"  %>
  </tr>

</tbody>

</div>
