<div id="<%= dom_id vehicle %>">
  <tbody>
  <tr>
     <th class="text-center text-muted"><%= vehicle.id %></th>
    <td>
      <div class="widget-heading"><%= vehicle.charge_id %></div>
    </td>
    <td class="text-center"><%= vehicle.number %></td>
    <td class="text-center"> <%= vehicle.in_time %></td>
    <td class="text-center"><%= vehicle.out_time %></td>
    <td class="text-center"> <%= vehicle.charges %></td>
    <td class="text-center">
      <div><%= vehicle.status %></div>
    </td>
    <td class="text-center">
      <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm"><%= vehicle.user_id %></button>
    </td>
  </tr>

</tbody>

</div>
