<h1><strong>Vehicles Details</strong></h1>

<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Charge:</strong>
    <%= vehicle.charge_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= vehicle.number %>
  </p>

  <p>
    <strong>In time:</strong>
    <%= vehicle.in_time %>
  </p>

  <p>
    <strong>Out time:</strong>
    <%= vehicle.out_time %>
  </p>

  <p>
    <strong>Charges:</strong>
    <%= vehicle.charges %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vehicle.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vehicle.user_id %>
  </p>

</div>
