<h1><strong>Vehicles Details</strong></h1>

<div id="<%= dom_id vehicle %>">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Charge:</th>
      <th scope="col">Number:</th>
      <th scope="col">In time:</th>
      <th scope="col">Out time:</th>
      <th scope="col">Charges:</th>
      <th scope="col">Status:</th>
      <th scope="col">User:</th>
    </tr>
  </thead>
  <% @vehicles.each do |vehicle| %>
  <tbody>
    
    <tr>
      <th scope="row"><%= vehicle.id %></th>
      <td>
          <%= vehicle.charge_id %>
      </td>
      <td>
        <%= vehicle.number %>
      </td>
      <td>
        <%= vehicle.in_time %>
      </td>
      <td>
        <%= vehicle.out_time %>
      </td>
      <td>
         <%= vehicle.charges %>
      </td>
      <td>
        <%= vehicle.status %>
      </td>
      <td>
        <%= vehicle.user_id %>
      </td>

    </tr>
    
  </tbody>
  <% end %> 
</table>
</div>

