<p style="color: green"><%= %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Charge:</th>
      <th scope="col">Number:</th>
      <th scope="col">In time:</th>
      <th scope="col">Out time:</th>
      <th scope="col">Charges:</th>
      <th scope="col">Status:</th>
      <th scope="col">User:</th>
    </tr>
  </thead>
    <%= render @vehicle %>
  </table>
<div>
  <%= link_to "Edit this vehicle", edit_vehicle_path(@vehicle) %> |
  <%= link_to "Back to vehicles", vehicles_path %>

  <%= button_to "Destroy this vehicle", @vehicle, method: :delete %>
</div>
