.app-main__outer
  .app-main__inner
    .app-page-title.text-center
      %strong Parking Lot Dashboard
    .row
      .col-md-12
        .main-card.mb-3.card
          .card-header
            .row
              .col
                %button.btn-shadow.btn.btn-outline-info{:type => "button"}
                  = link_to "Edit charge", edit_charge_path(@charge)
              .col
                = button_to 'Delete this Charge', @charge, method: :delete, class: "btn-shadow btn btn-outline-info", style: 'margin-top: -1px;'
          .table-responsive
            %table.align-middle.mb-0.table.table-borderless.table-striped.table-hover
              %thead
                %tr
                  %th.text-center #
                  %th.text-center Vehicle type
                  %th.text-center Min charge
                  %th.text-center Min hours
                  %th.text-center Extra hour charges
              %tbody
                %tr
                  %td.text-center= @charge.id
                  %td.text-center= @charge.vehicle_type
                  %td.text-center= @charge.min_charge
                  %td.text-center= @charge.min_hours
                  %td.text-center= @charge.extra_hour_charges
